.icon-container {
    width: 70px;
    height: 70px;
    border-radius: 12px; /* Add slight rounding to the corners */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    box-shadow:  
      -10px -10px 20px rgba(255, 255, 255, 0.05), 10px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 6px; /* Optional: to create rounded corners */
  }
  
  .icon-container:hover {
    transform: scale(1.2); /* Slightly scale up on hover */
    box-shadow: 
    -10px -10px 20px rgba(255, 255, 255, 0.02), 10px 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  .icon {
    font-size: 24px;
    color: #d1d5db; /* Light gray color for the icon */
  }
  
  .shadow-custom {
    box-shadow: 
      0px 10px 20px rgba(0, 0, 0, 0.2),  /* Larger shadow with more spread */
      0px 4px 6px rgba(0, 0, 0, 0.1);   /* Softer shadow for a more realistic effect */
    border-radius: 10px; /* Optional: to create rounded corners */
  }
  